@charset "UTF-8";
body {
  width: 100%;
  height: 100vh;
  position: relative;
  flex-wrap: wrap;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

.bg-home {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70vh;
  padding: 2rem;
  color: white;
}

.bg-home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url("/SaltWeb/assets/images/_MG_9729.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.8;
  filter: brightness(0.9);
}

.hero {
  color: var(--white);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 46px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
  font-size: 20px;
}

.btn-inscrever {
  padding: 14px 28px;
  color: var(--white);
  color: var(--black);
  background-color: transparent;
  border: 1px solid var(--salt-purple);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
  transition: 0.3s;
}
.btn-inscrever:hover {
  background-color: var(--salt-purple);
  color: var(--white);
}
/* Estilos para o modal */
.modal {
  display: none; /* Inicialmente escondido */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

/* Estilos para o conteúdo do modal */
.modal-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para o título e texto */
.modal-content h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.modal-content p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

/* Botões dentro do modal */
.modal-buttons {
  display: flex;
  justify-content: space-around;
}

.modal-buttons button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1;
  margin: 0 5px;
}

.btn-cancel {
  background-color: #e0e0e0;
  color: #333;
}

.btn-cancel:hover {
  background-color: #c1c1c1;
}

.btn-confirm {
  background-color: #28a745;
  color: white;
}

.btn-confirm:hover {
  background-color: #218838;
}

/* Estilo para o ícone de fechar */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #999;
}

.close:hover {
  color: #000;
}

/* Animação do fadeIn */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.button-contact:hover {
  background-color: var(--salt-purple);
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
}

.ministry {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.services {
  background-color: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}
.services img {
  width: 100%;
}

.services-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}

.services-content p {
  line-height: 150%;
  font-size: 18px;
  margin-bottom: 44px;
  text-align: center;
  justify-content: center;
}

.haircuts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 44px 34px 44px;
}

.haircut {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px var(--smokey-black);
  overflow: hidden;
}
.haircut img {
  width: 100%;
  max-width: 354px;
  transition: transform 0.25s;
}

.haircut img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.haircut-info {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 14px;
  background-color: var(--white);
  z-index: 99;
}

@media screen and (max-width: 1150px) {
  .haircuts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .haircuts {
    grid-template-columns: repeat(1, 1fr);
  }
}
.section__container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 54px 14px;
  text-align: center;
  justify-content: center;
}

.title h2 {
  font-size: 38px;
}

.title p {
  font-size: 18px;
  margin-bottom: 44px;
}

.testimonials__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.card {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  background-color: var(--white);
  color: var(--black);
  border-radius: 5px;
  box-shadow: 0px -1px 17px -4px var(--salt-purple);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card i {
  font-size: 40px;
  color: var(--salt-purple);
}

.card p {
  font-size: 13px;
}

.card hr {
  width: 80px;
  margin: auto;
  color: var(--black);
}

.card img {
  width: 90px;
  height: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: auto;
  border-radius: 100%;
}

.card .name {
  font-size: 20px;
  font-weight: 400;
  color: var(--text-light);
  transition: 0.3s;
}

.card .name:hover {
  color: var(--primary-color);
}

@media (width < 900px) {
  .testimonials__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media (width < 600px) {
  .testimonials__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.btn-whatsapp {
  position: fixed;
  bottom: 14px;
  right: 18px;
  z-index: 99;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 150px;
  top: 8px;
  left: -164px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--jet-1);
  color: var(--white);
  opacity: 0;
  transition: opacity 0.3s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btn-whatsapp img {
    max-width: 64px;
  }
} /*# sourceMappingURL=courses.css.map */
