.slider {
  height: 100vh;
  position: relative;
  text-align: center;
  z-index: 0;
}
.slider-top {
  padding-block: 100px 140px;
  z-index: 1;
  text-align: center;
  background: linear-gradient(to bottom, var(--smokey-black) 40%);
}
.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, var(--smokey-black) 20%, transparent);
}
.slider .list .item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    var(--smokey-black-transparent) 20%,
    transparent
  );
}
.slider .list .item .content {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
  text-align: left;
}
.sub {
  font-weight: var(--fw-300);
}
.slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--black);
  background-color: var(--white);
  padding: 10px 20px;
  border-radius: 0.5rem;
  display: inline-block;
  margin: 0;
  font-size: 12.8px;
}
.slider .list .item .content p:nth-child(1):hover {
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
}

.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}
.thumbnail {
  position: absolute;
  bottom: 50px;
  z-index: 11;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  height: 250px;
  padding: 0 5%;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

.thumbnail .item {
  flex: 0 0 auto;
  max-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  filter: brightness(0.5);
}

.thumbnail .item.active {
  filter: brightness(1);
}

.thumbnail .item img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
}

.thumbnail .item .content {
  text-align: center;
  margin-top: 10px;
}

.thumbnail::-webkit-scrollbar {
  display: none;
}
.container {
  padding-inline: 15px;
}

.movie-title {
  max-width: 250px;
}

.button-slider {
  position: relative;
}

.button-slider a {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: var(--salt-purple);
  color: var(--white);
  padding: 6px 20px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}

.button-slider a:nth-child(1) {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.button-slider a:hover:nth-child(1) {
  background: var(--salt-purple);
}

@media screen and (max-width: 967px) {
  .thumbnail {
    justify-content: start;
  }
  .slider .list .item .content h2 {
    font-size: 60px;
  }
}

@media screen and (max-width: 572px) {
  .slider .list .item .content h2 {
    font-size: 40px;
  }

  .slider .list .item .content p {
    font-size: 13px;
  }
}
