.slider {
  height: 100vh;
  position: relative;
  text-align: center;
  z-index: 0;
}
.slider-top {
  padding-block: 100px 140px;
  z-index: 1;
  text-align: center;
  background: linear-gradient(to bottom, var(--smokey-black) 40%);
}
.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to top, var(--smokey-black) 20%, transparent);
}
.slider .list .item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    var(--smokey-black-transparent) 20%,
    transparent
  );
}
.slider .list .item .content {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
  text-align: left;
}
.sub {
  font-weight: var(--fw-300);
}
.slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--black);
  background-color: var(--white);
  padding: 10px 20px;
  border-radius: 0.5rem;
  transition: 0.3s;
  display: inline-block;
  margin: 0;
  font-size: 12.8px;
}
.slider .list .item .content p:nth-child(1):hover {
  cursor: pointer;
  background-color: var(--black);
  color: var(--white);
}

.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}
@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.arrows {
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 100;
}
.arrows button {
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: 0.5s;
  display: inline-block;
}
.arrows button:hover {
  background-color: #eee;
  color: black;
}
.thumbnail {
  position: absolute;
  bottom: 50px;
  z-index: 11;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  height: 250px;
  padding: 0 5%;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
}

.thumbnail .item {
  flex: 0 0 auto;
  max-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.thumbnail .item.active {
  filter: brightness(1.5);
}

.thumbnail .item img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
}

.thumbnail .item .content {
  text-align: center;
  margin-top: 10px;
}

.thumbnail::-webkit-scrollbar {
  display: none;
}
.container {
  padding-inline: 15px;
}

.movie-title {
  max-width: 250px;
}

.button-slider {
  position: relative;
}

.button-slider a {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  background: var(--salt-purple);
  color: var(--white);
  padding: 6px 20px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
  cursor: pointer;
}

.button-slider a:nth-child(1) {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.button-slider a:hover:nth-child(1) {
  background: var(--salt-purple);
}

.play {
  position: absolute;
  margin-bottom: 0px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1em;
  cursor: pointer !important;
  transition: 0.3s;
}

.play i {
  margin-right: 10px;
  cursor: pointer !important;
}

.play:hover {
  color: var(--salt-purple);
}

.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.trailer.active {
  visibility: visible;
  opacity: 1;
}

.trailer video {
  max-width: 90%;
  max-height: 90%;
  outline: none;
}

.close {
  position: absolute;
  top: 2vw;
  right: 2vw;
  cursor: pointer;
  filter: invert(1);
  max-width: 5vw;
}

@media screen and (max-width: 967px) {
  .thumbnail {
    justify-content: start;
  }
  .slider .list .item .content h2 {
    font-size: 60px;
  }
  .arrows {
    top: 10%;
  }
}

@media screen and (max-width: 572px) {
  .slider .list .item .content h2 {
    font-size: 40px;
  }

  .slider .list .item .content p {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    padding: 0 20px;
  }

  .trailer video {
    max-width: 100%;
    max-height: 100%;
  }

  .close {
    top: 20px;
    right: 20px;
    max-width: 40px;
  }
}
